<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gasteizko Margolariak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9328AF651D6616C700E6B0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9328AF791D6616C700E6B0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9328AF841D6616C700E6B0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
